<!-- <textarea  cols="30" rows="10" [value]="newPost" #postInput></textarea> -->
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form *ngIf="!isLoading" (submit)="onSavePost(postForm)" #postForm="ngForm">
    <mat-form-field>
        <!-- Two way binding on the line below -->
        <!-- <input matInput [(ngModel)]="enteredTitle" type="text"> -->
      <input 
        name="title" 
        matInput 
        [ngModel]="post?.title" 
        type="text" 
        required minlength="6"
        placeholder="Título"
        #title="ngModel">
      <mat-error *ngIf="title.invalid">Digite um título</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea 
        name="content" 
        matInput 
        [ngModel]="post?.content" 
        rows="6" 
        required
        placeholder="Conteúdo"
        #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Digite um conteúdo</mat-error>
    </mat-form-field>
    <button color="accent" mat-raised-button type="submit">Enviar</button>
  </form>
</mat-card>
